; First repository - mandatory
[REPOSITORY_NAME]
HOST_NAME =
PORT =
USERNAME =          ; See README.md for the required privileges for the user
PASSWORD =
SERVICE_NAME =

; n-th repository - optional
[REPOSITORY_NAME]
HOST_NAME =
PORT =
USERNAME =          ; See README.md for the required privileges for the user
PASSWORD =
SERVICE_NAME =
